

<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>Listado de Usuarios</h5>
          </div>

          <div class="card-body">
            <a href="/users/register">
              <button
                class="btn btn-primary btn-bm"
                @click="register()"
                style="margin-bottom: 10px; color: white"
                type="button"
              >
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Añadir
              </button>
            </a>

            <table
              class="
                table table-responsive-sm table-bordered table-striped table-sm
              "
            >
              <thead>
                <tr class="bg-primary col-12">
                  <th style="width: 45%">Nombres y Apellidos</th>
                  <th style="width: 25%">Correo Electrónico</th>
                  <th style="width: 10%">Rol de Usuario</th>
                  <th style="width: 10%">Fecha de Creación</th>
                  <th style="width: 10%">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in usuarios" :key="index">
                  <td>{{ item.name }}</td>

                  <td>{{ item.email }}</td>

                  <td v-if="item.is_admin == 1">
                    <span class="badge badge-primary" style="color: white"
                      >Administrador</span
                    >
                  </td>

                  <td v-else>
                    <span class="badge badge-danger">Usuario</span>
                  </td>

                  <td>{{ item.created_at | formatDate }}</td>
                  <td>
                    <a v-bind:href="'/users/' + item.id + '/edit'">
                      <button
                        type="button"
                        class="btn btn-primary"
                        style="border: 0px !important; color: white"
                        data-toggle="tooltip"
                        title="Editar Usuario"
                      >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>
                    </a>
                    <button
                      type="button"
                      class="btn btn-danger"
                      style="border: 0px !important; color: white"
                      title="Eliminar Usuario"
                      v-bind:name="item.id"
                      v-bind:id="index"
                      @click="eliminar($event)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Inicia el modal  -->
    <div
      class="modal fade"
      id="abrirmodal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
      ref="vuemodal"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        style="width: 600px"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Eliminar Usuario</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div style="margin-left: 10px">
                  <h5>¿Estás seguro que deseas eliminar el usuario?</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              @click="eliminarUser()"
              class="btn btn-success"
            >
              <i class="fa fa-save"></i> Eliminar
            </button>

            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i> Cerrar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: { name: "", mail: "", password: "", is_admin: "0" },
      userid: "",
      targetId: "",
      usuarios: [],
      ident: "",
    };
  },

  created() {
    axios.get("/userList").then((res) => {
      this.usuarios = res.data;
    });
  },

  methods: {
    eliminar(event) {
      this.targetId = event.currentTarget.id;
      this.userid = event.currentTarget.name;

      $("#abrirmodal").modal("show");
      // console.log('eliminando' +targetId);
    },
    eliminarUser: function () {
      $("#abrirmodal").modal("hide");

      var url = "/users/" + this.userid;
      axios.delete(url, { params: { id: this.targetId } }).then((res) => {
        this.id = res.data;
        this.usuarios.splice(this.targetId, 1);
      });
    },
  },
};
</script>

