.nav .nav-item a:hover {
    background-color: #71d5bc !important;
}

.badge {
    font-size: small;
}

.badge-primary {
    font-size: small !important;
}

.badge-danger {
    font-size: small !important;
}

.badge-info {
    font-size: small !important;
}

.badge-warning {
    font-size: small !important;
}

.table-bordered {
    font-size: small;
}

.btncenter {
    text-align: center;
}

.espacio fieldset {
    margin: 20px 10px 0 0;
}

.espacioDiv {
    margin: 15px 0 0 0;
}

.espacio-abajo fieldset {
    margin: 0;
}

.btnenviar {
    background-color: #71d5bc;
    width: 20%;
    font-size: larger;
    margin: 5px 0 0 0;
}

.h5-personalizado h5 {
    float: left;
}

.mi-paginador {
    display: inline-flex;
}

#btn-form .btn1,
#btn-form .btn2 {
    width: 100%;
    text-align: right;
    margin: 10px 0 0 0;
    padding: 0;
}

.card-label {
    background-color: #71d5bc !important;
    color: white;
}

.card-graficos {
    background-color: #71d5bc !important;
    color: white;
    height: 35px;
    border-radius: 15px 15px 0 0 !important
}

.mi-card {
    border-radius: 15px 15px 10px 10px !important
}

.msg-error {
    min-height: 250px;
}

.div-separador {
    margin: 30px;
    color: black;
}

.msg-error .btn-primary {
    float: right;
    margin: 64px 0 0 0;
}

.msg-error .card-body {
    padding: 0 !important;
}

.select-ajuste select,
.textfield-ajuste input {
    width: 185px !important;
}

.espacio-abajo fieldset {
    margin: 12px 0 0 0;
    padding: 0 5px 0 12px;
}

.ajuste-tabla thead,
.ajuste-tabla tbody {
    font-size: 13px;
}

.ajuste-tabla2 thead,
.ajuste-tabla2 tbody {
    font-size: 12px;
}

#recursivo thead,
#recursivo tbody {
    font-size: 12px;
}

.encabezado-tabla {
    color: white;
    background-color: #71d5bc !important;
}

thead {
    display: table-header-group;
}

tfoot {
    display: table-row-group;
}

tr {
    page-break-inside: avoid;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Buscar"!important;
}

.card-body .multiselect__content {
    position: absolute;
    z-index: 10;
    background-color: white !important;
    max-height: 40px !important;
}

.card-body .multiselect__element {
    background-color: white;
}


/* .card-body .multiselect__tag {
                max-height: 20px;
            }*/

.card-body .multiselect__content {
    max-height: 20px;
}

.logoS {
    padding: 0;
    position: absolute !important;
    width: 100%;
    min-height: 315px;
}


/* .card-body .btn-primary {
    width: 150px;
} */

#adicionarCiudad {
    width: 159px;
}

.card-body .multiselect__tag {
    margin-bottom: 0 !important;
    float: left;
    font-size: 11px;
}

.multiselect__tag {
    background-color: #71d5bc !important;
}

.claseError {
    border-color: #e3342f !important;
    padding-right: calc(1.6em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.4em + 0.1875rem) center;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
}


/*
@media only screen and (max-width: 1920px) {
   #tipoDocumento-input-group-2 {
        width: 230px!important;
    }
}*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .btnenviar {
        width: 100%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (max-width: 1366px) {
    .inputTXT {
        max-width: 180px;
    }
    .fecha {
        width: 183px !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (max-width: 1920px) and (min-width: 1080px) {
    .espacio-abajo fieldset {
        margin: 12px 0 0 0;
        width: 1065px !important;
        padding: 0 5px 0 12px;
    }
    .textfield-ajuste .form-group,
    .select-ajuste,
    .form-group {
        width: 100% !important;
    }
    .fecha {
        width: 324px;
    }
}


/* Laptop de roberton */

@media only screen and (max-width: 1536px) and (min-width: 864px) {
    .fecha {
        width: 228px;
    }
}