

<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>Categorías de Productos</h5>
          </div>

          <div class="card-body">

              <button
                class="btn btn-primary btn-bm"
                @click="adicionar"
                style="margin-bottom: 10px; color:white"
                type="button"
              >
                <i class="fa fa-plus"></i>&nbsp;&nbsp;Añadir
              </button>


            <table
              class="table table-responsive-sm table-bordered table-striped table-sm"
            >
              <thead>
                <tr class="bg-primary col-12">
                  <th style="width: 25%;" >Nombre de Categoría</th>
                  <th style="width: 50%;">Descripción</th>
                  <th style="width: 15%;" >Propietario</th>
                  <th style="width: 10%;" >Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in categorias" :key="index">
                  <td>{{ item.Nombre }}</td>

                  <td>{{ item.Descripcion }}</td>

                  <!-- <td v-if="item.is_admin == 1">
                    <span class="badge badge-primary">Administrador</span>
                  </td>

                  <td v-else>
                    <span class="badge badge-danger">Usuario</span>
                  </td> -->

                  <td>{{ item.creador }}</td>

                  <td>

                      <button
                        type="button"
                        class="btn btn-primary"
                        style="border: 0px !important; color: white"
                        data-toggle="tooltip"
                        title="Editar Categoría"
                        v-bind:name="item.id"
                        v-bind:id="index"
                        @click="editarcategoria($event)"
                      >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                      </button>

                    <button
                      type="button"
                      class="btn btn-danger"
                      style="border: 0px !important; color: white"
                      title="Eliminar Categoría"
                      v-bind:name="item.id"
                      v-bind:id="index"
                      @click="eliminar($event)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>


                  <div v-if="pagination.total>10" class="text-center mt-12">
            <v-pagination
              v-model="page"
              :length="pagination.last_page"
              @input="changePage"
            ></v-pagination>
            </div>

         </div>
        </div>
      </div>
    </div>

    <!-- Inicia el modal  -->
    <div
      class="modal fade"
      id="abrirmodal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
      ref="vuemodal"
    >
      <div class="modal-dialog modal-primary modal-lg" style="width: 600px;" role="document" >
        <div class="modal-content">
          <div class="modal-header " style="background-color:#71d5bc;">
            <h4 class="modal-title">Eliminar Categoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div style="margin-left: 10px;">
                  <h5>¿Estás seguro que deseas eliminar la Categoría?</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              @click="eliminarCategoria()"
              class="btn btn-success"
            >
              <i class="fa fa-save"></i> Eliminar
            </button>

            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i> Cerrar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


<div class="modal fade" id="abrirmodal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" style="width: 600px;" role="document" id="b1">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#71d5bc;">
                <h4 class="modal-title">Añadir Categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group row div-error">

                    <div class="text-center text-error">

                        <div></div>

                    </div>

                </div>

                <form action="" ref='form' id="example-file">
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Categoría</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Nombre de categoría" name="nombre" v-model="categoria.Nombre"
                            v-bind:class="[isActive1 ? 'form-control is-invalid'  : '']"
                            @change="onChangeBtn()">
                             <div v-for="(error, index) in errores" :key="index">
                             <small style="color: red" v-if="index=='Nombre'" >{{error[0]}}</small>
                             </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Descripción</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Descripción"
                                name="descripcion" v-model="categoria.Descripcion"
                                v-bind:class="[isActive2 ? 'form-control is-invalid'  : '']"
                                @change="onChangeMarca()">
                                <div v-for="(error, index) in errores" :key="index">
                             <small style="color: red" v-if="index=='Descripcion'" >{{error[0]}}</small>
                             </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Promoción</label>
                        <div class="col-md-9">
                           <input type="checkbox" id="checkbox" v-model="categoria.Promocion" @change="cambiaPromocion">
                             <small style="color: red">{{errorPromocion}}</small>
                        </div>
                    </div>



                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Imagen</label>
                     <div class="col-md-9">
                    <input
                      id="b12"
                      name="file"
                      type="file"
                      class="file"
                      ref="fileinput"
                      removeAttr=true
                      @change="onFileLoad($event)"

                      data-browse-on-zone-click="true"
                      data-show-upload="false"
                    />
                    <small style="color: red">{{errorImagen}}</small>
                    </div>

                </div>

                </form>



                    <div class="modal-footer">

                        <button @click="agregar" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
                            Cerrar</button>

                    </div>


            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Fin del modal-->

<div class="modal fade" id="abrirmodal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-primary modal-lg" style="width: 600px;"  role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#71d5bc;">
                <h4 class="modal-title">Editar categoría</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="form-group row div-error">

                    <div class="text-center text-error">

                        <div></div>

                    </div>

                </div>

                 <form action="" ref='form' id="example-file2">

                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Categoría</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Nombre de categoría" name="nombre" v-model="categoriaEditar.Nombre"
                            v-bind:class="[isActive1 ? 'form-control is-invalid'  : '']"
                            @change="onChangeBtn()">
                             <div v-for="(error, index) in errores2" :key="index">
                             <small style="color: red" v-if="index=='Nombre'" >{{error[0]}}</small>
                             </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Descripción</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Descripción"
                                name="descripcion" v-model="categoriaEditar.Descripcion"
                                v-bind:class="[isActive2 ? 'form-control is-invalid'  : '']"
                                @change="onChangeMarca()">
                                <div v-for="(error, index) in errores2" :key="index">
                             <small style="color: red" v-if="index=='Descripcion'" >{{error[0]}}</small>
                             </div>
                        </div>
                    </div>

                       <div class="form-group row">
                        <label class="col-md-3 form-control-label" for="text-input">Promoción</label>
                        <div class="col-md-9">
                           <input type="checkbox" id="checkbox" v-model="categoriaEditar.Promocion" @change="cambiaPromocion">
                             <small style="color: red">{{errorPromocion}}</small>
                        </div>
                    </div>


            <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="text-input">Imagen</label>
                     <div class="col-md-9">
                    <input
                      id="b13"
                      name="file"
                      type="file"
                      class="file"
                      ref="fileinput"
                      removeAttr=true
                      @change="onFileLoad($event)"

                      data-browse-on-zone-click="true"
                      data-show-upload="false"
                    />
                    <small style="color: red">{{errorImagen}}</small>
                    </div>

                </div>

                 </form>


                    <div class="modal-footer">

                        <button @click="update" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                           <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>
                            Cerrar</button>

                    </div>


            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--Fin del modal-->

    <!-- Modal de error -->
    <div
      class="modal fade"
      id="modalMensaje2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
      ref="vuemodal"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        role="document"
        style="width: 600px"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Eliminar Categoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div style="margin-left: 10px">
                  <h5>{{mensajeError}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i> Cerrar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>


  </div>
</template>




<script>
export default {
  data() {
    return {
      categoria: { Nombre: "", Descripcion: ""},
      categoriaEditar: { Nombre: "", Descripcion: "",Promocion:"",id:""},
      categoriaNueva: { Nombre: "", Descripcion: "",Promocion:""},
      userid: "",
      targetId: "",
      errorPromocion:"",
      categorias: [],
      usuarios:[],
      files:[],
      ident: "",
      isActive2:"",
      isActive1:"",
      errores:[],
      errores2:[],
      errorImagen:"",
      indice:0,
      mensajeError:"",
      pagination:{
           'total'          :  0,
            'current_page'  :  0,
            'per_page'      :  0,
            'last_page'     :  0,
            'from'          :  0,
            'to'            :  0,
      },
      page:1,
      offset:5
    };
  },

    mounted(){

        var that = this;
          $(function() {
           $('#b12').on('filebatchselected', function(event, files) {
               that.files = files;

               that.errorImagen ="";
        })
             $('#b13').on('filebatchselected', function(event, files) {
               that.files = files;

               that.errorImagen ="";
        })
    })


  },

  created: function() {
    this.listaCategorias();
  },
  computed:{
      isActived: function(){
          return this.pagination.current_page;
      },
      pageNumber: function(){
          if(!this.pagination.to){
              return [];
          }

          var from = this.pagination.current_page - this.offset;
          if(from < 1){
              from =1;
          }

         var to = from + (this.offset*2)  ;

         if(to >= this.pagination.last_page){
             to = this.pagination.last_page;
         }

         var pageArray = [];
         while(from <= to){
             pageArray.push(from);
             from++;
         }
        return pageArray;

      }
  },

  methods: {

    listaCategorias(){
    axios.get("/categoriaProductoList?page="+this.page).then((res) => {
      this.categorias = res.data.categoria_producto.data;
      this.pagination = res.data.pagination;
    });
    },

    eliminar(event) {
      this.targetId = event.currentTarget.id;
      this.userid = event.currentTarget.name;

      $("#abrirmodal").modal("show");
      // console.log('eliminando' +targetId);
    },
    eliminarCategoria: function () {
     $("#abrirmodal").modal("hide");

      var url = "/categoriaProducto/" + this.userid;
      axios.delete(url, { params: { id: this.targetId } }).then((res) => {
          if(res.data.error){
              $("#modalMensaje2").modal("show");
              this.mensajeError = res.data.error;
          }
          else{
        this.id = res.data;
         this.listaCategorias();
          }

      });
    },


    onFileLoad(e){
        this.files = e.target.files;
        this.errorImagen ="";
    },


    adicionar(){
        this.categoria.Nombre="";
        this.categoria.Descripcion="";
        this.errorPromocion="";
        this.files=[];
        this.errores=[];


    // limpiando las imagenes
     var $el = $('#example-file');
      $el.wrap('<form>').closest('form').get(0).reset();
      $el.unwrap();

        $("#abrirmodal12").modal("show");

    },

    agregar() {

          const categoriaNueva = this.categoria;


                if(this.files.length!=1){
                         this.errorImagen = "Debe seleccionar una imagen para la Categoría";
                         return 0;
                }

          axios.post("/categoriaProducto/new", categoriaNueva).then((res) => {

              if(res.data.error){
                   this.errores= res.data.error;
              }
              else if(res.data.errorPromocion)
              this.errorPromocion= res.data.errorPromocion;





              if(res.data.categoria_producto && this.files.length==1){

                  const config = {
                  headers: {
                    "content-type": "multipart/form-data",
                    "X-CSRF-TOKEN": document.querySelector(
                      'meta[name="csrf-token"]'
                    ).content,
                  },
                };

                let formData = new FormData();

                for (var i = 0; i < this.files.length; i++) {
                  let a = this.files[i];
                  formData.append("file" + i, a);
                }


                formData.append("cantFotos", this.files.length);

                formData.append("nombre", this.categoria.Nombre);

                var url = "/imagencategoria/new";

                axios.post(url, formData, config).then((res) => {
                  if (res.data.error) {
                      // alert(res.data.error);
                  }
                });


                this.listaCategorias();
                $("#abrirmodal12").modal("hide");
              }




          });






    },

    editarcategoria(event){
             var $el = $('#example-file2');
      $el.wrap('<form>').closest('form').get(0).reset();
      $el.unwrap();

        this.errores2=[];
      this.categoriaEditar.Nombre ="";
        this.categoriaEditar.Descripcion = "";
        this.errorPromocion="";
      this.targetId = event.currentTarget.id;

      this.userid = event.currentTarget.name;
    //    alert(this.userid);
       var url = "/categoriaProducto/edit/" + this.userid;
     axios.post(url, { params: { id: this.targetId } }).then((res) => {
        this.categoriaEditar.Nombre = res.data['categoria_producto'].Nombre;
        this.categoriaEditar.Descripcion = res.data['categoria_producto'].Descripcion;
         this.categoriaEditar.id = res.data['categoria_producto'].id;
        if(res.data['categoria_producto'].Promocion==1)
        this.categoriaEditar.Promocion = true;
        else
        this.categoriaEditar.Promocion = false;
        $("#abrirmodal13").modal("show");
      });

    },

    update(){
        this.errorPromocion="";

        const categoriaNueva = this.categoriaEditar;
        var url = "/categoriaProducto/" + this.userid;
        axios.post(url, categoriaNueva)
        .then(res=>{
            if(res.data.error){
                   this.errores2= res.data.error;
              }
            else if(res.data.errorPromocion)
              this.errorPromocion= res.data.errorPromocion;

              if(res.data.categoria_producto){

              if(res.data.categoria_producto && this.files.length==1){

                  const config = {
                  headers: {
                    "content-type": "multipart/form-data",
                    "X-CSRF-TOKEN": document.querySelector(
                      'meta[name="csrf-token"]'
                    ).content,
                  },
                };

                let formData = new FormData();

                for (var i = 0; i < this.files.length; i++) {
                  let a = this.files[i];
                  formData.append("file" + i, a);
                }


                formData.append("cantFotos", this.files.length);

                formData.append("id", this.categoriaEditar.id);

                var url = "/imagencategoria/edit";

                axios.post(url, formData, config).then((res) => {
                  if (res.data.error) {
                      // alert(res.data.error);
                  }
                });


                this.listaCategorias();
                $("#abrirmodal12").modal("hide");
              }
                this.listaCategorias();
                $("#abrirmodal13").modal("hide");
              }

        })

    },
        onChangeBtn(){
        this.errores=[];
        this.errores2=[];
        if( this.isActive1 ==true){
             this.isActive1 =false;
        }
    },
     onChangeMarca(){
      this.errores=[];
      this.errores2=[];
        if( this.isActive2 ==true){
             this.isActive2 =false;
        }
    },

        changePage(page) {
      this.pagination.current_page = page;
      this.page = page;
       this.listaCategorias();
    },
    cambiaPromocion(){
        this.errorPromocion="";
    },





  },
};
</script>

