

<template>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5>Subcategorías</h5>
          </div>

          <div class="card-body">
            <button
              class="btn btn-primary btn-bm"
              @click="adicionar"
              style="margin-bottom: 10px; color: white"
              type="button"
            >
              <i class="fa fa-plus"></i>&nbsp;&nbsp;Añadir
            </button>

            <table
              class="
                table table-responsive-sm table-bordered table-striped table-sm
              "
            >
              <thead>
                <tr class="bg-primary col-12">
                  <th style="width: 25%">Nombre de Subcategoría</th>
                  <th style="width: 45%">Descripción</th>
                  <th style="width: 10%">Categoria</th>
                  <th style="width: 10%">Propietario</th>
                  <th style="width: 10%">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in subcategorias" :key="index">
                  <td>{{ item.Nombre }}</td>

                  <td>{{ item.Descripcion }}</td>
                  <td>{{ item.categoria.Nombre }}</td>

                  <!-- <td v-if="item.is_admin == 1">
                    <span class="badge badge-primary">Administrador</span>
                  </td>

                  <td v-else>
                    <span class="badge badge-danger">Usuario</span>
                  </td> -->

                  <td>{{ item.creador }}</td>

                  <td>
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="border: 0px !important; color: white"
                      data-toggle="tooltip"
                      title="Editar Subcategoría"
                      v-bind:name="item.id"
                      v-bind:id="index"
                      @click.prevent="editarsubcategoria($event)"
                    >
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger"
                      style="border: 0px !important; color: white"
                      title="Eliminar Subcategoría"
                      v-bind:name="item.id"
                      v-bind:id="index"
                      @click="eliminar($event)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div v-if="pagination.total > 10" class="text-center mt-12">
              <v-pagination
                v-model="page"
                :length="pagination.last_page"
                @input="changePage"
              ></v-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Inicia el modal  -->
    <div
      class="modal fade"
      id="abrirmodal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
      ref="vuemodal"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        style="width: 600px"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Eliminar Subcategoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div style="margin-left: 10px">
                  <h5>¿Estás seguro que deseas eliminar la Subcategoría?</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              @click="eliminarSubCategoria()"
              class="btn btn-success"
            >
              <i class="fa fa-save"></i> Eliminar
            </button>

            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i> Cerrar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <div
      class="modal fade"
      id="abrirmodal12"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        style="width: 600px"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Añadir Subcategoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div></div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Subcategoría</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre de Subcategoría"
                  name="nombre"
                  v-model="subcategoria.Nombre"
                  v-bind:class="[isActive1 ? 'form-control is-invalid' : '']"
                  @change="onChangeBtn()"
                />
                <div v-for="(error, index) in errores" :key="index">
                  <small style="color: red" v-if="index == 'Nombre'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Categoría</label
              >
              <div class="col-md-9">
                <b-input-group
                  id="example-input-group-2"
                  label="Name"
                  label-for="Concesionario"
                >
                  <b-form-select
                    id="Categoria"
                    name="categoria"
                    v-model="subcategoria.Categoria"
                    v-validate="{ required: true }"
                    :options="categoria"
                    aria-describedby="input-2-live-feedback"
                    data-vv-as="categoria"
                  ></b-form-select>
                </b-input-group>
                <div v-for="(error, index) in errores" :key="index">
                  <small style="color: red" v-if="index == 'Categoria'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Descripción</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripción"
                  name="descripcion"
                  v-model="subcategoria.Descripcion"
                  v-bind:class="[isActive2 ? 'form-control is-invalid' : '']"
                  @change="onChangeMarca()"
                />
                <div v-for="(error, index) in errores" :key="index">
                  <small style="color: red" v-if="index == 'Descripcion'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button @click="agregar" class="btn btn-success">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times"></i> Cerrar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->

    <div
      class="modal fade"
      id="abrirmodal13"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        style="width: 600px"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Editar Subcategoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div></div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Subcategoría</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre de Subcategoría"
                  name="nombre"
                  v-model="subcategoriaEditar.Nombre"
                  v-bind:class="[isActive1 ? 'form-control is-invalid' : '']"
                  @change="onChangeBtn()"
                />
                <div v-for="(error, index) in errores2" :key="index">
                  <small style="color: red" v-if="index == 'Nombre'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Categoría</label
              >
              <div class="col-md-9">
                <b-input-group
                  id="example-input-group-2"
                  label="Name"
                  label-for="Concesionario"
                >
                  <b-form-select
                    id="Categoria"
                    name="categoria"
                    v-model="subcategoriaEditar.Categoria"
                    v-validate="{ required: true }"
                    :options="categoria"
                    aria-describedby="input-2-live-feedback"
                    data-vv-as="categoria"
                  ></b-form-select>
                </b-input-group>
                <div v-for="(error, index) in errores2" :key="index">
                  <small style="color: red" v-if="index == 'Categoria'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="text-input"
                >Descripción</label
              >
              <div class="col-md-9">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Descripción"
                  name="descripcion"
                  v-model="subcategoriaEditar.Descripcion"
                  v-bind:class="[isActive2 ? 'form-control is-invalid' : '']"
                  @change="onChangeMarca()"
                />
                <div v-for="(error, index) in errores2" :key="index">
                  <small style="color: red" v-if="index == 'Descripcion'">{{
                    error[0]
                  }}</small>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button @click="update" class="btn btn-success">
                <i class="fa fa-save"></i> Guardar
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                <i class="fa fa-times"></i> Cerrar
              </button>
            </div>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->

    <!-- Modal de error -->
    <div
      class="modal fade"
      id="modalMensaje2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel"
      style="display: none"
      aria-hidden="true"
      ref="vuemodal"
    >
      <div
        class="modal-dialog modal-primary modal-lg"
        role="document"
        style="width: 600px"
      >
        <div class="modal-content">
          <div class="modal-header" style="background-color: #71d5bc">
            <h4 class="modal-title">Eliminar Subcategoría</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group row div-error">
              <div class="text-center text-error">
                <div style="margin-left: 10px">
                  <h5>{{ mensajeError }}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i> Cerrar
            </button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>




<script>
export default {
  data() {
    return {
      subcategoria: { Nombre: "", Descripcion: "", Categoria: null },
      subcategoriaEditar: { Nombre: "", Descripcion: "", Categoria: null },
      subcategoriaNueva: { Nombre: "", Descripcion: "" },
      categorias: [],
      userid: "",
      targetId: "",
      subcategorias: [],
      usuarios: [],
      mensajeError: "",
      ident: "",
      isActive2: "",
      isActive1: "",
      errores: [],
      errores2: [],
      indice: 0,
      pagination: {
        total: 0,
        current_page: 0,
        per_page: 0,
        last_page: 0,
        from: 0,
        to: 0,
      },
      page: 1,
      offset: 5,
      categoria: [{ value: null, text: "Categoría" }],
    };
  },

  created: function () {
    this.listaSubCategorias();
  },
  computed: {
    isActived: function () {
      return this.pagination.current_page;
    },
    pageNumber: function () {
      if (!this.pagination.to) {
        return [];
      }

      var from = this.pagination.current_page - this.offset;
      if (from < 1) {
        from = 1;
      }

      var to = from + this.offset * 2;

      if (to >= this.pagination.last_page) {
        to = this.pagination.last_page;
      }

      var pageArray = [];
      while (from <= to) {
        pageArray.push(from);
        from++;
      }
      return pageArray;
    },
  },

  methods: {
    listaSubCategorias() {
      this.categoria = [{ value: null, text: "Categoría" }];
      axios.get("/subcategoriaProductoList?page=" + this.page).then((res) => {
        this.subcategorias = res.data.sub_categoria_producto.data;
        this.pagination = res.data.pagination;
        this.categorias = res.data.categorias;
        this.categorias.forEach((element) => {
          this.categoria.push({ value: element.id, text: element.Nombre });
        });
      });
    },

    eliminar(event) {
      this.targetId = event.currentTarget.id;
      this.userid = event.currentTarget.name;

      $("#abrirmodal").modal("show");
      // console.log('eliminando' +targetId);
    },
    eliminarSubCategoria: function () {
      $("#abrirmodal").modal("hide");

      var url = "/subcategoriaProducto/" + this.userid;
      axios.delete(url, { params: { id: this.targetId } }).then((res) => {
        if (res.data.error) {
          $("#modalMensaje2").modal("show");
          this.mensajeError = res.data.error;
        } else {
          this.id = res.data;
          this.listaSubCategorias();
        }
      });
    },

    adicionar() {
      this.subcategoria.Nombre = "";
      this.subcategoria.Descripcion = "";
      this.subcategoria.Categoria = null;
      this.errores = [];
      $("#abrirmodal12").modal("show");
    },

    agregar() {
      const subcategoriaNueva = this.subcategoria;
      axios.post("/subcategoriaProducto/new", subcategoriaNueva).then((res) => {
        if (res.data.error) {
          this.errores = res.data.error;
        } else {
          this.listaSubCategorias();
          $("#abrirmodal12").modal("hide");
        }
      });
    },

    editarsubcategoria(event) {
      this.errores2 = [];
      this.subcategoriaEditar.Nombre = "";
      this.subcategoriaEditar.Descripcion = "";
      this.subcategoriaEditar.Categoria = null;
      this.targetId = event.currentTarget.id;

      this.userid = event.currentTarget.name;
      // alert(this.userid);
      var url = "/subcategoriaProducto/edit/" + this.userid;
      axios.post(url, { params: { id: this.targetId } }).then((res) => {
        this.subcategoriaEditar.Nombre =
          res.data["sub_categoria_producto"].Nombre;
        this.subcategoriaEditar.Descripcion =
          res.data["sub_categoria_producto"].Descripcion;
        this.subcategoriaEditar.Categoria =
          res.data["sub_categoria_producto"].categoria_id;
        $("#abrirmodal13").modal("show");
      });
    },

    update() {
      const subcategoriaNueva = this.subcategoriaEditar;
      var url = "/subcategoriaProducto/" + this.userid;
      axios.post(url, subcategoriaNueva).then((res) => {
        if (res.data.error) {
          this.errores2 = res.data.error;
        } else {
          this.listaSubCategorias();
          $("#abrirmodal13").modal("hide");
        }
      });
    },
    onChangeBtn() {
      if (this.isActive1 == true) {
        this.isActive1 = false;
      }
    },
    onChangeMarca() {
      this.Error2 = "";
      if (this.isActive2 == true) {
        this.isActive2 = false;
      }
    },

    changePage(page) {
      this.pagination.current_page = page;
      this.page = page;
      this.listaSubCategorias();
    },
  },
};
</script>

