

<template></template>

<script>
export default {
  data() {
    return {
      //   user: { name: "", mail: "", password: "", is_admin: "0" },
      //   userid: "",
      //   targetId: "",
      //   usuarios: [],
      //   ident: "",
    };
  },

  created() {
    // axios.get("/userList").then((res) => {
    //   this.usuarios = res.data;
    // });
  },

  methods: {
    // eliminar(event) {
    //   this.targetId = event.currentTarget.id;
    //   this.userid = event.currentTarget.name;
    //   $("#abrirmodal").modal("show");
    //   // console.log('eliminando' +targetId);
    // },
    // eliminarUser: function () {
    //   $("#abrirmodal").modal("hide");
    //   var url = "/users/" + this.userid;
    //   axios.delete(url, { params: { id: this.targetId } }).then((res) => {
    //     this.id = res.data;
    //     this.usuarios.splice(this.targetId, 1);
    //   });
    // },
  },
};
</script>

