<template>
    <div class="col-12">
        <CChartBar
    style="height:300px"
    :datasets="defaultDatasets"
    :labels="usuarios"
    :options="{ maintainAspectRatio: false }"
  />
    </div>
</template>

<script>
    export default {

 data() {
    return {
        datos:[25,30,12,50,30,20,32,30,20,38,30, 20],
        usuarios:['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Novienbre','Diciembre'],
        meses:['Enero','Febrero','Marzo']
    };
  },

       computed: {
    defaultDatasets () {
      return [
        {
          label: 'Niveles de Combustible',
           backgroundColor: '#71d5bc',
          data:this.datos
        },

      ]
    },

  },
    created() {
    // axios.get("/userName").then((res) => {
    //   this.usuarios = res.data;
    // alert(this.usuarios)
    // });

  },

    }
</script>
