<template>
 <div class="col-12">
  <div class="small">
    <!-- <h4>Reportes del Venta Junio</h4> -->
    <bar-chart :chart-data="datacollection" :height="130"></bar-chart>
  </div>

 </div>
</template>

<script>

import BarChart from './BarChart.js'

export default {
  components: {
    BarChart
  },
  data(){
    return {
      datacollection: null
    }
  },
  mounted () {
    this.fillData()
  },
  methods: {

    fillData ()
    {
      this.datacollection = {
        labels: ['Lunes','Martes','Miercoles','Jueves','Viernes', 'Sabado' , 'Domingo'],
        datasets: [
          {
            label: 'Motor',
            backgroundColor: '#6182F3',
            data: [20, 40, 30, 20, 50, 31,10]
          },
          {
            label: 'Combustible',
            backgroundColor: '#FA785C',
            data: [20, 40, 45, 23, 50, 40,10]
          },
           {
            label: 'Aceite',
            backgroundColor: '#f4ac59',
            data: [20, 40, 30, 20, 41, 30,10]
          },
        ],
      }
    }
  }
}
</script>

<style lang="css">
.small {
  max-width: 800px;
  max-height: 500px;
  margin:  50px auto;
}
</style>

